@charset "utf-8";
@font-face{
	font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}
button, input, select, textarea{
	font-family: inherit;
}
/* 背景色など */
body{
	margin : 0px;
	padding: 0px;
	background:#ddeeee;
}
/* COQUA タイトル */
header{
	text-align: center;
	margin: 10px 10px 10px 10px;
}
/* COQUA タイトルのスタイル */
header h1{
	display: inline-block;
	font-size:120%; 
	color:#333333; 
	margin: 10px 50px 10px 50px;
	padding: 10px 20px 10px 20px; 
	border:1px solid #666666; 
	border-radius: 5px; 
	letter-spacing: 3px; 
	font-weight:400; 
}
main{
}
/* しろいとこ */
article{
	text-align : left;
	width : 600px;
	background:#ffffff;
	border :1px solid #bbbbcc;
	padding: 0px 10px 10px 10px;
	margin: 0 auto;
	font-size:18px;
}
/* 検索窓のスタイル */
div.search{
	text-align: center;
	width : 400px;
	padding : 0px 5px 0px 5px;
	margin : 0 auto;
}
#form-search{
	width: 250px;
	height: 100%;
	margin: 10px auto;
	padding: 3px 0px;
	position:relative;
	vertical-align: top;
	box-sizing: border-box;
	background: #dde;
	border-radius: 10px;
}
#input-text{
	border: none;
	width: 200px;
	padding: 3px 3px 3px 3px;
	background: transparent;
}
#input-glass{
	width: 30px;
	border: none;
	font-size: 20px;
	background-size: auto 100%;
	background-repeat: no-repeat;
}
/* レシピへのリンク */
div.recipe{
	display: flex;
	margin : 5px;
}
/* 2018- COQUA とか */
footer{
	text-align: center;
	font-size: 14px;
	margin : 10px 10px 10px 10px;
}
/* インライン要素 */
input{
	vertical-align : middle;
}
/* paragraph */
p{
	margin: 3px 0px 3px 0px;
	line-height:1.2;
	text-indent:1em;
	word-break : break-all;
}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
