@charset "utf-8";
@font-face{
	font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}
button, input, select, textarea{
	font-family: inherit;
}
/* 背景色など */
body{
	margin : 0px;
	padding: 0px;
	background:#ddeeee;
}
/* COQUA タイトル */
header{
	text-align: center;
	margin: 10px 10px 10px 10px;
}
/* COQUA タイトルのスタイル */
header h1{
	display: inline-block;
	font-size:120%; 
	color:#333333; 
	margin: 10px 50px 10px 50px;
	padding: 10px 20px 10px 20px; 
	border:1px solid #666666; 
	border-radius: 5px; 
	letter-spacing: 3px; 
	font-weight:400; 
}
/* 白い部分 */
article{
	text-align : left;
	width : 600px;
	background:#ffffff;
	border :1px solid #bbbbcc;
	padding: 0px 10px 10px 10px;
	margin: 0 auto;
	font-size:18px;
}
div.message{
	text-align: center;
	font-size: 12px;
}
/* 検索窓のスタイル */
div.searchbox{
	display:flex;
	background: #dde;
	text-align: center;
	width : 280px;
	margin : 0 auto;
	box-sizing: border-box;
	border-radius: 10px;
}
div.wrap{
	display:flex;
}
p.switch{
	cursor:pointer;
	font-weight: bold;
	padding:10px 40px 10px 10px;
	font-size: 14px;
	background: #eee;
	border-bottom: 1px solid #ccc;
	position: relative;
}
#form-search{
	height: 100%;
	margin: 10px auto;
	padding: 3px 0px;
	position:relative;
	vertical-align: top;
}
#input-text{
	border: none;
	width: 195px;
	padding: 3px;
	margin : 5px;
	background: transparent;
}
#glass{
	width: 30px;
	border: none;
	font-size: 20px;
	background-size: auto 100%;
	background-repeat: no-repeat;
}
#xchng{
	width: 30px;
	border: none;
	font-size: 20px;
	background-size: auto 100%;
	background-repeat: no-repeat;
}
div.page{
	text-align: center;
}
/* レシピへのリンク */
div.recipe{
	display: flex;
	margin : 5px;
}
/* 2018- COQUA とか */
footer{
	text-align: center;
	font-size: 14px;
	margin : 10px 10px 10px 10px;
}
/* インライン要素 */
input{
	vertical-align : middle;
}
/* paragraph */
p{
	margin: 3px 0px 3px 0px;
	line-height:1.2;
	text-indent:1em;
	word-break : break-all;
}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
